
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-full-bleed-dialog .mat-dialog-container {
  padding: 0;
}

.mat-cell, .mat-footer-cell {
  color: unset
}
