<mat-toolbar color="primary">
  Inserisci username e password del nuovo operatore
</mat-toolbar>
<div style="padding:12px 12px 12px 12px;">
  <div style=" display: flex; flex-direction: column; justify-content: center; align-items: center">
  <mat-form-field style="width: 300px">
    <mat-label>
      Username
    </mat-label>
    <input matInput [formControl]="username" type="text">
    <mat-error>Il nome non può essere già usato</mat-error>
  </mat-form-field>
  <mat-form-field style="width: 300px">
    <mat-label>
      Password
    </mat-label>
    <input matInput [formControl]="password" type="text">
    <mat-error>La password deve essere lunga almeno 6 caratteri</mat-error>
  </mat-form-field>
  </div>
  <div style="display: flex; justify-content: flex-end">
    <button style="margin-right: 6px" mat-raised-button color="warn" (click)="exit(false)">
      Esci
    </button>
    <button mat-raised-button color="primary" [disabled]="password.invalid || username.invalid" (click)="exit(true)">
      Salva
    </button>

  </div>
</div>
