<div *ngIf="!orders" style="width:100% ">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>
<lib-central-column *ngIf="orders">
  <div *ngIf="orders.length>0">
    <div *ngFor="let order of orders">
      <app-single-order [order]="order"></app-single-order>
    </div>

  </div>
  <div *ngIf="orders.length===0">
    Non ci sono ordini salvati
  </div>
  <div>
    <button mat-raised-button (click)="goToNewOrder()" color="primary">
      Crea nuovo ordine
    </button>
  </div>
</lib-central-column>
