<mat-toolbar color="primary">
  Inserisci la nuova password
</mat-toolbar>
<div style="padding:12px 12px 12px 12px">
  <mat-form-field>
    <mat-label>
      Password
    </mat-label>
    <input matInput [formControl]="password" type="text">
    <mat-error>La password deve essere lunga almeno 6 caratteri</mat-error>
  </mat-form-field>

  <div style="display: flex; justify-content: flex-end">
    <button style="margin-right: 6px" mat-raised-button color="warn" (click)="exit(false)">
      Esci
    </button>
    <button mat-raised-button color="primary" [disabled]="password.invalid" (click)="exit(true)">
      Salva
    </button>

  </div>
</div>
