
<mat-card style="display: flex; flex-direction: column; margin-top: 12px">
  <mat-card-title>Cambia la password</mat-card-title>
  <mat-form-field>
    Password Attuale
    <label>
      <input #pdwInput [formControl]="oldPasswordControl" matInput type="password">
    </label>
    <mat-icon (click)="pdwInput.type = pdwInput.type == 'password' ? 'text' : 'password'" class="hoverable"
              matSuffix>{{pdwInput.type != 'password' ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="oldPasswordControl.hasError('minlength')">
      Almeno 6 caratteri!
    </mat-error>
    <mat-error *ngIf="oldPasswordControl.hasError('required')">
      La password è <strong>necessaria</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    Nuova Password
    <label>
      <input #newPwd [formControl]="newPasswordControl" matInput type="password">
    </label>
    <mat-icon (click)="newPwd.type = newPwd.type == 'password' ? 'text' : 'password'" class="hoverable"
              matSuffix>{{newPwd.type != 'password' ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="newPasswordControl.hasError('minlength')">
      Almeno 6 caratteri!
    </mat-error>
    <mat-error *ngIf="newPasswordControl.hasError('required')">
      La password è <strong>necessaria</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    Ripeti Nuova Password
    <label>
      <input #newPwd2 [formControl]="newPasswordMatchControl" matInput type="password">
    </label>
    <mat-icon (click)="newPwd2.type = newPwd2.type == 'password' ? 'text' : 'password'" class="hoverable"
              matSuffix>{{newPwd2.type != 'password' ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="newPasswordControl.hasError('passwordNotEquals')">
      Almeno 6 caratteri!
    </mat-error>
    <mat-error *ngIf="newPasswordControl.hasError('required')">
      La password è <strong>necessaria</strong>
    </mat-error>
  </mat-form-field>
  <button (click)="changePassword()"
          [disabled]="!changePasswordFormGroup.valid || changingPassword"
          color="primary"
          mat-raised-button>Cambia Password
  </button>
</mat-card>
