<mat-card>
  <mat-card-title>
    Prodotto: {{order.product}} | Quantità: {{order.requestedQuantity}}
  </mat-card-title>
  <mat-card-content>
    <div>
      Cliente: {{order.client}} | Numero ordine cliente:{{order.clientOrderCode}} | Commessa:{{order.commission}}
    </div>
    <div style="display: grid; grid-template-columns: 25px auto">
      <div>
        <mat-icon>event</mat-icon>
      </div>
      <div style="display: flex;flex-direction: column;width: 100%">
        <div>Richiesta: {{getOrderDate(order.requestedDate)}}</div>
        <div>Data di inizio: {{getOrderDate(order.startDate)}}</div>
        <div>Data di fine stimata: {{getOrderDate(order.expectedEndDate)}}</div>
        <div>Data di fine: {{getOrderDate(order.endDate)}}</div>
      </div>
    </div>
    <mat-list>
      <div *ngFor="let internal of order.internalOrders">
        <mat-list-item>
          Prodotto:{{internal.productCode}} x {{internal.productQuantity}}<br>
          Grezzo:{{internal.rawCode}} x {{internal.rawQuantity}}<br>
          Lavorazioni: {{internal.processes.join("-> ")}}<br>
          Lavorazioni esterne: {{internal.externalTreatments}}
          Operatore:{{internal.operator}}
        </mat-list-item>
      </div>
    </mat-list>

  </mat-card-content>
</mat-card>
