<mat-card>
  <mat-card-title>
    Prodotto: {{order.product}} | Quantità: {{order.requestedQuantity}}
  </mat-card-title>
  <mat-card-content>
    <div>
      Cliente: {{order.client}} | Numero ordine cliente:{{order.clientOrderCode}} | Commessa:{{order.commission}}
    </div>
    <div style="display: grid; grid-template-columns: 40px auto">
      <div>
        <mat-icon>event</mat-icon>
      </div>
      <div style="display: flex;flex-direction: column;width: 100%">
        <div>Richiesta: {{getOrderDate(order.requestedDate)}}</div>

      </div>
    </div>
    <div style="margin-top: 12px">
      <div *ngFor="let internal of order.internalOrders"
           class="border" [ngStyle]="{'border-color': '#000000'}">
        <div style="display: grid; grid-template-columns: 40px auto">
          <div>
            <mat-icon [ngStyle]="{'color': '#000000'}">inventory_2</mat-icon>
          </div>
          <div>
            <div *ngIf="fromList">
              Stato: <b [ngStyle]="{'color': getStatusColor(internal)}">{{getStatus(internal)}}</b>
            </div>
            Prodotto:{{internal.productCode}} | quantità: {{internal.productQuantity}}<br>
            Grezzo:{{internal.rawCode}} | quantità: {{internal.rawQuantity}}<br>
            Lavorazioni: {{internal.processes.join("-> ")}}<br>
            Lavorazioni esterne: {{internal.externalTreatments}}<br>
            Operatore:{{internal.operator}}
            <div>Data di inizio: {{internal.startDate ? getOrderDate(internal.startDate) : "Data non impostata"}}</div>
            <div>Data di fine stimata: {{internal.expectedEndDate ? getOrderDate(internal.expectedEndDate) : "Data non impostata"}}</div>
            <div>Data di fine: {{internal.endDate ? getOrderDate(internal.endDate) : "Data non impostata"}}</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="fromList" style="display: flex; width: 100%; justify-content: space-between">
      <div>
        <button mat-raised-button color="warn" (click)="deleteId.emit(order.id)">Elimina</button>
      </div>
      <div>
        <button mat-raised-button (click)="downloadPdf(order.id)"> Scarica commessa pdf</button>
      </div>
      <div>
        <button mat-raised-button color="accent" [routerLink]="getEditUrl(order.id) ">Modifica</button>
      </div>

    </div>
  </mat-card-content>
</mat-card>
